/* @define Stepper */
.Stepper {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 10px 20px;
  align-items: center;
  &-step {
    background: #6e6e6e;
    color: #fff;
    flex-shrink: 1; 
    padding: 10px 14px;
    border-radius: 7px;
  }
  &-line {
    height: 2px;
    background: #6e6e6e;
    flex-grow: 1; 
  }
  &-activeStep {
    background: #4f96ff;
  }
}
