/* @define Balance */
.NewContract {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background: url('../back_kleros.png') #f5f5f5;
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
  &-form {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -5vh;
    &-release {
      margin: 0 10px;
      flex: 1;
      padding: 3px 5px;
      background: #d3d3d3;
      border-radius: 3px;
      text-align: center;
      font-weight: bold;
      line-height: 35px;
      color: #444;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.input {
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  border-bottom: 1px solid lightgray;
  padding: 10px 14px;
  border-radius: 5px;
}

.arrow-container {
  cursor: pointer;
  &-arrow {
    position: absolute;
    top: 24px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px gray solid;
    border-top: 2px gray solid;
  }
  &-arrow-animation {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  @keyframes arrow {
    0% {
      opacity: 1;
      transform: rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translateX(18px) translateY(-18px);
    }
  }
}
