@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: $background;
  border: 20px solid #f4f4f4;
}

.flex-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 14px;
  position: relative;
  border-radius: 10px;
  background: #fff;
}

.wide {
  flex:1;
  min-width: 400px;
}

.grow {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  cursor: pointer;
}

.grow:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.02);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.02);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.02);
  transition: all 200ms ease-in;
  transform: scale(1.04);
}

.type {
  padding: 2px 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  box-sizing: border-box;
  background: #475053;
}

.newContract {
  display: flex;
  height: 140px;
  justify-content: center;
  font-size: 35px;
  padding-top: 42px;
}

.creationContract {

}

.creationContentContract {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  padding-top: 42px;
}

.identicon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 10px;
}

.address {
  font-size: 40px;
}

.footer {
  flex: 1;
  background: #f4f4f4;
  min-height: 70px;
}

.IA {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .flex-container {
    border: none;
  }

  .wide {
    flex:1;
    min-width: 280px;
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.linear-background-100 {
  width: 100%;
  height: 24px;
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  border-radius: 4px;
}

.balanceETH {
  padding-top: 10px;
  font-size: 15px;
}

.balance {
  .identicon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 3px;
  }
}

.icon {
  padding-left: 3px;
}

.partyB {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 10px;
  .content {
    height: 20px;
    line-height: 20px;
    padding: 0 5px 0 5px;
    font-size: 15px;
    background: #f5f5f5;
  }

  .content-left {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .content-right {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .identicon-right {
    .identicon {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .identicon-left {
    .identicon {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

.description {
  border-left: 1px solid #475053;
  margin-top: 10px;
  padding: 0 30px 0 8px;
  font-size: 15px;
}

.nbContracts {
  padding-top: 20px;
  font-size: 15px;
}
