@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;

  min-height: calc(100vh - 100px);
}

.flex-container-main {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  color: #444;
  min-height: calc(100vh - 100px);

  &-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(229deg, rgba(71, 207, 114, 0.527), rgba(0, 88, 171, 0.431));
    padding: 0 20px;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    &-left {
      flex: 1;
      &-home {
        flex: 1;
        font-variant: capitalize;
        flex: flex-basis;
        line-height: 35px;
        padding: 0 20px;
        padding-top: 5px;
        font-weight: bold;
      }
      &-home:hover {
        cursor: pointer;
      }
    }

    &-right {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      &-item {
        flex: flex-basis;
        line-height: 35px;
        padding: 0 20px;
        padding-top: 5px;
        font-weight: bold;
      }
      &-item:hover {
        border-bottom: 1px solid #fff;
        cursor: pointer;
      }
    }
  }

  &-newContract-container {
    margin-top: 20vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    &-content {
      width: 300px;
      padding: 10px 14px;
      background: lightgray;
      border-radius: 5px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    &-content:hover {
      cursor: pointer;
    }
  }
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
}

.flex-item2 {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  flex: 1;
  min-width: 300px;
  background-image: linear-gradient(229deg, #47CF73, #0059AB);
  height: 200px;
  transition: 0.4s ease;
  &:hover {
    margin-top: 4px;
    cursor: pointer;
  }
}

.loader-contract {
  justify-content: space-around;
}

.evidence {
  background: #66ccff;
}

.payFee {
  background: #ff9933;
}

.waitFee {
  background: #ffcc66;
}

.wide {
  flex: 1;
  min-width: 400px;
}

.grow {
  transition: all 200ms ease-in;
  transform: scale(1);
  cursor: pointer;
}

.grow:hover {
  transition: all 200ms ease-in;
  transform: scale(1.04);
}

.type {
  color: #fff;
  line-height: 30px;
  background: rgba(26, 27, 35, 0.2);
  padding: 0 10px;
}

.status {
  font-variant: small-caps;
  line-height: 20px;
  background: #3D464D;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 10px;
  letter-spacing: 2px;
}

.newContract {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creationContentContract {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  padding-top: 42px;
}

.identicon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content {
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-left: 10px;
}

.address {
  font-size: 30px;
  max-width: 240px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .flex-container {
    border: none;
  }

  .wide {
    flex:1;
    min-width: 280px;
  }
}

.balanceETH {
  padding-top: 10px;
  font-size: 15px;
}

.balance {
  .identicon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 3px;
  }
}

.icon {
  padding-left: 3px;
}

.partyB {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 10px;
  .content {
    height: 20px;
    line-height: 20px;
    padding: 0 5px 0 5px;
    font-size: 15px;
    background: #f5f5f5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .identicon {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.nbContracts {
  padding-top: 20px;
  font-size: 15px;
}