.loader {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url('./back_kleros.png') #1A1B23;
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
}

/* @define Contract */
.Contract {
  display: flex;
  min-height: calc(100vh - 100px);
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background: url('./back_kleros.png') #1A1B23;
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
  color: #fff;
  &-content {
    display: flex;
    flex-direction: column;
    width: 55vw;
    background: rgba(255, 255, 255, 0.15);
    padding: 50px 40px;
    margin: 10vh 0;
    &-item {
      margin: 10px 0;
      &-mail {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
      }
      &-description-modal {
        font-family: 'Open Sans Condensed', sans-serif;
        min-width: 70vw;
        min-height: 70vh;
      }
    }
    &-address {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #fff;
      .identicon {
        border-radius: 3px;
      }
      &-address {
        padding-left: 20px;
        font-size: 60px;
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      &-button {
        flex: 1;
        background: #1a1b23;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        color: #fff;
        border-radius: 3px;
        &-is-loading {
          background: linear-gradient(to right, #ff9933 50%, #444 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          animation: progressFill 16s -.1s ease-in-out forwards;
     
          @keyframes progressFill {
            from { background-position: right bottom;}
            to   { background-position: left bottom;}
          }
        }
        &-left {
          margin-right: 2px;
        }
        &-right {
          margin-left: 2px;
        }
      }
      &-waiting {
        margin-top: 1em;
        padding: 1em 2em;
        background: #ffcc99;
        font-weight: bold;
      }
      &-ruling {
        margin-top: 1em;
        color: #fff;
        padding: 1em 2em;
        background: #66ccff;
      }
    }

    &-partyB {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding-top: 10px;
      color: #000;
      .identicon {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &-content {
        height: 20px;
        line-height: 20px;
        padding: 0 5px 0 5px;
        font-size: 15px;
        background: #f5f5f5;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &-evidenceCard {
      margin-top: 20px;
      border: 1px solid lightgray;
      padding: 10px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.15);
      cursor: pointer;
      .description {
        max-width: 300px;
      }
      &-name {
        text-align: center;
        font-size: 20px;
      }
      &-url {
        padding-top: 10px;
        text-decoration: underline;
      }
    }

    &-waiting {
      width: 100%;
      font-weight: bold;
      text-align: center;
      color: gray;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .Contract {
    padding-top: 10px;
  }
}
