.loader {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url('./back_kleros.png') #f5f5f5;
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
}

/* @define Contract */
.Contract {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background: url('./back_kleros.png') #f5f5f5;
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
  &-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5vh;
    &-item {
      margin: 10px 0;
    }
    &-item-mail {
      font-weight: bold;
      color: gray;
    }
    .identicon {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &-address {
      display: flex;
      flex-direction: row;
      align-items: center;
      .identicon {
        border-radius: 3px;
      }
      &-address {
        padding-left: 20px;
        font-size: 60px;
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;

      &-button {
        flex: 1;
        background: #f5f5f5;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        color: gray;
        border-radius: 3px;
        &-left {
          margin-right: 2px;
        }

        &-right {
          margin-left: 2px;
        }
        &:hover {
          color: #000;
        }
      }
    }

    &-partyB {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding-top: 10px;
      .identicon {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &-content {
        height: 20px;
        line-height: 20px;
        padding: 0 5px 0 5px;
        font-size: 15px;
        background: #f5f5f5;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &-evidenceCard {
      margin-top: 20px;
      border: 1px solid lightgray;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
      .description {
        max-width: 300px;
      }
      &-name {
        text-align: center;
        font-size: 20px;
      }
      &-url {
        padding-top: 10px;
        text-decoration: underline;
      }
    }

    &-waiting {
      width: 100%;
      font-weight: bold;
      text-align: center;
      color: gray;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .Contract {
    padding-top: 10px;
  }
}
