/* @define Balance */
.NewContract {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  &-form {

  }
}

.input {
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  border-bottom: 1px solid lightgray;
  padding: 10px 14px;
}
